In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('rankingsch.csv',encoding = 'latin1')

In [64]:
df.sample(5)

,State,Ranks,OverallCondition,HealthInsuranceCoverage,SelfreportedHealthStatus,ChildImmunization,InfantSurvival,NursingHomeStaff,DoctorStaff,InPatientExpense,AnnualHealthcarePremium,DeathRate,Income,HealthSpending,InsuredPeople
46,GA,47,Critical,49,31,51,45,36,16,9,33,OK,NM,CO,MS
43,TX,44,Critical,51,42,42,18,30,29,32,17,LA,OK,NM,ID
30,CA,31,Frail,22,25,40,5,38,20,50,16,NM,KS,WA,IN
47,OK,48,Critical,50,45,44,45,17,43,12,19,AL,LA,NV,FL
41,WV,41,Critical,46,49,39,50,21,41,2,3,IN,TN,AL,AZ

In [65]:
lst1 = list(df.DeathRate)
lst2 = list(df.State)
ranks = []
for i in range(len(lst1)):
    lst1[i] = lst1[i].strip()

if len(lst1) == len(lst2):    
    for i in range(len(lst1)):
        rank = lst1.index(lst2[i])+1
        ranks.append(rank)
    df['DeathRateRanking'] =  ranks
else:
    print("ERROR: Number of states not same in the columns")

In [66]:
lst1 = list(df.Income)
lst2 = list(df.State)
ranks = []
for i in range(len(lst1)):
    lst1[i] = lst1[i].strip()
if len(lst1) == len(lst2):    
    for i in range(len(lst1)):
        rank = lst1.index(lst2[i])+1
        ranks.append(rank)
    df['IncomeRanking'] =  ranks
else:
    print("ERROR: Number of states not same in the columns")

In [67]:
lst1 = list(df.HealthSpending)
lst2 = list(df.State)
ranks = []
for i in range(len(lst1)):
    lst1[i] = lst1[i].strip()
if len(lst1) == len(lst2):    
    for i in range(len(lst1)):
        rank = lst1.index(lst2[i])+1
        ranks.append(rank)
    df['HSRanking'] =  ranks
else:
    print("ERROR: Number of states not same in the columns")

In [68]:
lst1 = list(df.InsuredPeople)
lst2 = list(df.State)
ranks = []
for i in range(len(lst1)):
    lst1[i] = lst1[i].strip()
if len(lst1) == len(lst2):    
    for i in range(len(lst1)):
        rank = lst1.index(lst2[i])+1
        ranks.append(rank)
    df['IPRanking'] =  ranks
else:
    print("ERROR: Number of states not same in the columns")

### Adding Premium:

In [69]:
df1 = pd.read_csv('WithPremium.csv')
df1.sample(5)

         Location State  Average_Premium
1          Alaska    AK              746
15           Iowa    IA              918
50        Wyoming    WY              960
29  New Hampshire    NH              540
25       Missouri    MO              645

In [70]:
states = list(df1.State)
for i in range(len(states)):
    states[i] = states[i].strip()
premium = list(df1.Average_Premium)
state_dict = dict(zip(states,premium))

In [71]:
states = list(df.State)
by_state_premium = [0]*len(states)
for i in range(len(states)):
    by_state_premium[i] = state_dict[states[i]]

In [72]:
df['AveragePremium'] = by_state_premium

In [74]:
df.drop(['DeathRate','HealthSpending','Income','InsuredPeople'],axis=1,inplace=True)
df.to_csv("WithRankings.csv")